{%load static%}

<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Short Urls</title>
  <!-- <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"> -->
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>




<body>
    {%block content%}{%endblock%}
    <!-- Javascript -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
