{% extends 'base.html' %}

{% block content %}

{% load static from staticfiles %}


<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
  <div class="container" >
    <div class="navbar-header">
      <span class="li-text" style="margin-right:25px;">
        
        <a href="/new_link/">NEW 
        <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
      </span> 
       
      <span class="li-text">
        
        <a href="/list_links/">LIST  
        <i class="fa fa-list" aria-hidden="true"></i></a>  
      </span> 
      
    </div>
  </div>
</nav>

<!-- Top content -->
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong>Shorten your URL! </strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 form-box">
          <div class="form-bottom url-submit">
            <form action="" method="POST" id="url_form">
              {% csrf_token %}
              <div class="form-group">
                
                <label class="" for="real_url">Enter your URL</label>
                <input type="text" name="real_url" placeholder="https://wizeservices.com/careers" class="form-control" required>

                <label class="" for="suggested_short" style="margin-top:15px;">Choose your short url</label>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">localhost:8000/</span>
                <input type="text" name="suggested_short" placeholder="hola" class="form-control"> 
                </div>

              </div>
            <div class="row">  
            <div class="col-sm-4">
            <button type="submit" class="btn">Shorten!</button>
            </div>
            <div class="col-sm-8" style="display:none;" id="error_msg">
              <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> This is not a valid url
              </div>
            </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>



{% endblock %}
